# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Local secrets
.env
.env.*
dbt/profiles.yml

# dbt artifacts
dbt/target/
dbt/logs/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs/
*.log